<HTML>
 <HEAD>
  <TITLE>UPMP </TITLE>
 </HEAD>
 <BODY BGCOLOR="gray">
  <H1> <img src="http://res.cloudinary.com/upmp/image/upload/v1452488379/upmp_rem7rd.jpg" width=10% height=15%> 
    <font size = 7 COLOR = "RED" > <center> Universidad Politecnica Metropolitana de Puebla </center></font></H1>
  
  <P> <font size = 7 COLOR = "BLUE" > <center> P&aacute;gina no encontrada </center></font></P>
  <P> <center > Parece que ha habido un error con la p&aacute;gina que estas buscando. <BR> Es posible que la entrada haya sido eliminada o que la direcci&oacute;n no exista. </center></P>
 </BODY>
</HTML>