{% extends 'noticias/base.html' %}
{% load cloudinary %}

    {% block content %}
        <div class="post">
            {% if post.pub_date %}
                <div class="date">
                    {{ post.pub_date }}
                </div>
            {% endif %}
            <a class="btn btn-default" href="{% url 'noticia_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <h1>{{ post.titulo }}</h1>
            <p>{{ post.descripcion|linebreaks }}</p>
        </div>
    {% endblock %}